@model IEnumerable<Vextech_APP.ViewModels.ProductModel>
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <link href="~/css/index.css" rel="stylesheet" />
</header>

<div class="container">
    <div class="row flex-row flex-nowrap overflow-scroll">
    @foreach (var item in Model) {
        <div class="card col-2">
            <img src="~/img/VanGogh.jpg" alt="@Html.DisplayFor(modelItem => item.Name)" style="width:100%">
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
            <p class="price">@Html.DisplayFor(modelItem => item.Price)€</p>
@*          <p>Release Date: @Html.DisplayNameFor(model => model.Release_date)</p>*@
            <div class="mt-auto">
                <button>Add to Cart</button>
            </div>
            
        </div>
    }
    </div>
</div>
