
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header>
    <link rel="stylesheet" href="~/CSS/Admin.css" />
</header>

<div class="container">
    <div class="row">
        <div class="col-3 BoxMaking">
            <ul class="noPadding">
                <li class="dashborder" >
                    <h4>Admin panel:</h4>
                </li>
                <ul>
                    <li class="dashborder">
                        <h5><a href="@Url.ActionLink("index","Admin")">Users</a></h5>
                    </li>
                    <li class="dashborder">
                        <h5>Comments</h5>
                    </li>
                    <li class="dashborder">
                        <h5><a href="@Url.ActionLink("ContactMesseges","Admin")">Contact Messeges</a></h5>
                    </li>
                    <li class="dashborder">
                        <h5>Storages</h5>
                    </li>
                    <li class="dashborder">
                        <h5>Categories</h5>
                    </li>
                    <li class="dashborder">
                        <h5>Subcategories</h5>
                    </li>
                    <li class="dashborder">
                        <h5>Brands</h5>
                    </li>
                    <li class="dashborder">
                        <h5>logs</h5>
                    </li>
                    <li class="dashborder">
                        <h5>Roles</h5>
                    </li>
                </ul>
                <li class="dashborder">
                    <h4>Redirects:</h4>
                </li>
                <ul>
                    <li>
                        <h5>product</h5>
                    </li>
                </ul>
            </ul>
        </div>
